



html {
    overflow-x: hidden;
}

header#site-header {
    background-color: #ffffff;
    padding: 20px 15px;
    transition: all .3s ease;
    width: 100%;
    z-index: 2;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

header#site-header .team-logo {
    max-width: 120px;
}

header#site-header ul li a {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
}

header#site-header ul li a:hover {
    color: #9456ff;
}

header#site-header ul.social-icons img {
    width: 35px;
}

header#site-header .menu-wrapper ul li{
    display: inline-flex;
    margin-right:25px;
    line-height: 1.8;
}

header#site-header .menu-wrapper ul li:last-of-type {
    margin-right: 0;
}

header#site-header .discord-button {
    align-items: center;
    background-color: #9456ff;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    font-family: 'rajdhani-bold';
    font-size: 18px;
    justify-content: center;
    max-width: 180px;
    padding: 8px 60px;
    text-decoration: none;
    text-transform: uppercase;
}

header#site-header .discord-button img {
    max-width: 20px;
    margin-right: 5px;
}

#gnft-banner {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url("../images/gratitudenft-banner.png");
    padding: 150px 15px;
}

#gnft-banner .main-content-wrapper {
    padding: 30px;
    background: rgba(255,255,255,0.7);
    border-radius: 15px;
}

#gnft-banner h1 {
    color: #0a0a0a;
    font-family: 'alegreya-sans-sc-black';
    font-size: 42px;
    line-height: 1.4;
}

#gnft-banner h2 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
}


#gnft-banner p {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

#gnft-banner p span {
    color: #9456ff;
    font-size: 20px;
    font-weight: bold;
}

#gnft-banner p a:hover {
    opacity: .7;
}

#gnft-banner img#ethereum-logo {
    width: 200px;
    margin-top: 10px;
}

#gnft-banner .gnft-slider {
    margin-top: 60px;
}


#follow-us {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url("../images/gratitudenft-footer.png");
    padding: 60px 15px;
}

#follow-us h3 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.4;
}

#follow-us form {
    margin-top: 10px;
}

#follow-us input[type="text"] {
    background-color: #f2f2f2;
    border: 0;
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
    padding: 5px 15px;
    width: 70%;
}

#follow-us input[type="submit"]  {
    background-color: #9456ff;
    border: 0;
    color: #ffffff;
    font-family: 'rajdhani-bold';
    font-size: 16px;
    justify-content: center;
    margin-left: 10px;
    max-width: 180px;
    outline: 0;
    padding: 11px 15px;
    text-decoration: none;
    text-transform: uppercase;
    width: 25%;
}

#follow-us p {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

#follow-us ul {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#follow-us a.other-pages {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
}

#follow-us a.other-pages:hover {
    color: #9456ff;
}

#follow-us ul li {
    padding-right: 15px;
}

#follow-us ul li:last-of-type {
    padding-right: 0;
}

#follow-us ul img {
    width: 40px;
}

footer#site-footer {
    background-color: #0a0a0a;
    padding: 15px;
}

footer#site-footer p{
    color: #ffffff;
    font-family: 'poppins-regular';
    font-size: 15px;
}

footer#site-footer p a {
    color: #ffffff;
    font-family: 'poppins-regular';
    font-size: 15px;
    text-decoration: none;
    transition: all .3s ease;
}

footer#site-footer p a:hover {
    color: #9456ff;
}

.global-padding {
    padding: 80px 0; 
}

.global-top-padding {
    padding: 60px 0 0 0; 
}

.claim-code-input, .uri-input, .check-ambassador-dropdown, .contract-address-input, .wallet-address-input {
    background-color: #f2f2f2;
    border: 0;
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
    padding: 5px 15px;
    margin-top: 10px;
    width: 400px;
}

/* Roadmap Starts Here */

#gnft-roadmap {
    background: #f4e8da;
    padding: 80px 15px;
}

#gnft-roadmap h2 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 48px;
    line-height: 1.4;
    text-transform: uppercase;
}

#gnft-roadmap h3 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 36px;
    line-height: 1.4;
    text-transform: uppercase;
}

#gnft-roadmap p {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

#gnft-roadmap img {
    width: 80px;
}

#gnft-roadmap img.roadmap-img-2  {
    width: 100px;
}

/* Roadmap Ends Here */

/* Meet The Team Starts Here */


#gnft-team {
    padding: 80px 15px;
}

#gnft-team h2.heading-first-part {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 40px;
    line-height: 1.4;
    text-transform: uppercase;
}

#gnft-team h2.heading-second-part {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 70px;
    line-height: 1.4;
    margin-top: -25px;
    text-transform: uppercase;
}

#gnft-team p {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

#gnft-team img.member-img {
    width: 100%;
    border-radius: 5px;
}

#gnft-team .member-column p.name {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 22px;
    line-height: 1.5;
    text-transform: uppercase; 
}

#gnft-team .member-column p.description {
    color: #7a7a7a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
    margin-top: -5px;
}

/* Meet The Team  Ends Here */

/** Presale Page Starts Here **/

.gnft-pa-section {
    padding: 40px 15px 80px 15px;
}

.gnft-pa-section h1 {
    color: #0a0a0a;
    font-family: 'alegreya-sans-sc-black';
    font-size: 42px;
    line-height: 1.4;
    text-transform: uppercase;
}

.gnft-pa-section p.description {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

.gnft-pa-section .no-can-mint img {
    width: 120px;
}

.gnft-pa-section .no-can-mint {
    padding-top: 40px;
    padding-bottom: 80px;
}

/** PResale Page Ends Here **/

/**  Ambassasdors Section Starts Here **/

#gnft-ambassadors h2 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 48px;
    line-height: 1.4;
    text-transform: uppercase;     
}

/**  Ambassasdors Section Ends Here **/

/* Provenance Section Starts Here */

#gnft-provenance-section { 
    background: #f4e8da;
    padding: 80px 15px;
}

#gnft-provenance-section h2 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 48px;
    line-height: 1.4;
    text-transform: uppercase;
}

#gnft-provenance-section p {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 2.5rem;
}

#gnft-provenance-section .provenance-button {
    align-items: center;
    background-color: #9456ff;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'rajdhani-bold';
    font-size: 18px;
    justify-content: center;
    max-width: 180px;
    padding: 8px 60px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Provenance Section Ends Here */

/* Provenance Page Starts Here */

#gnft-provenance { 
    padding: 40px 15px 80px 15px; 
}

#gnft-provenance h1 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 36px;
    line-height: 1.4;
    text-transform: uppercase;
}

#gnft-provenance h2 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
}

#gnft-provenance p {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

#gnft-provenance ul {
    margin-top: 25px;
    margin-bottom: 25px;
}

#gnft-provenance ul li {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

#gnft-provenance ul li a {
    color: #9456ff;
    text-decoration: none;
    transition: all .3s ease;
}

#gnft-provenance ul li a:hover {
    opacity: .6;
}

#gnft-provenance table th {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 13px;
    line-height: 1.8;
    padding-bottom: 5px;
    padding-top: 5px;
}

#gnft-provenance table tr {
    border-bottom: 1px solid #f2f2f2;
}

/* Provenance Page Ends Here */

/**  404 Page Starts Here **/

#gnft-not-found #wrap-not-found {
    height: 80vh;
    padding: 60px 15px 60px 15px;
}

#gnft-not-found #wrap-not-found h1 {
    color: #9456ff;
    font-size: 144px;
    font-family: 'rajdhani-bold';
}

#gnft-not-found #wrap-not-found h2 {
    color: #0a0a0a;
    font-size: 30px;
    line-height: 1.8;
}

#gnft-not-found #wrap-not-found p {
    color: #0a0a0a;
    font-size: 16px;
    line-height: 1.8;
}

#gnft-not-found #wrap-not-found img {
    width: 120px;
}

/** 404 Page Ends Here **/

/** Terms And Conditions & Privacy Policy Starts Here **/

.gnft-tc-pp {
    padding: 40px 15px 80px 15px;
}

.gnft-tc-pp h1 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 36px;
    line-height: 1.4;
    text-transform: uppercase;
}

.gnft-tc-pp h2 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 22px;
    line-height: 1.4;
    text-transform: uppercase;
}

.gnft-tc-pp p {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

.gnft-tc-pp ul {
    padding-left: 20px;
}

.gnft-tc-pp ul li {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

/** Terms And Conditions & Privacy Policy Ends Here **/

/**  Gallery Page Starts Here **/

#gnft-gallery {
    padding: 40px 15px 150px 15px;
}

#gnft-gallery h2 {
    border-bottom: 1px solid #f2f2f2;
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

#gnft-gallery h2 span {
    color: #7a7a7a;
    font-family: 'poppins-regular';
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
    text-transform: normal;
}

#gnft-gallery h3 {
    color: #7a7a7a;
    font-family: 'poppins-regular';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

#gnft-gallery p.edition {
    color: #0a0a0a;
    font-size: 15px;
    margin-top: 3px;
    text-transform: uppercase;
}

#gnft-gallery img {
    border-radius: 20px;
}

#gnft-gallery .attribute-select-wrapper {
    background: white;
    padding-bottom: 40px;
    position: sticky;
    top: 5%;
}

#gnft-gallery .attribute-select-wrapper select {
    border-bottom: 1px solid #f2f2f2 !important;
    border-radius: 0;
    border: 0;
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 15px;
    outline: 0;
    margin-bottom: 3px;
}

#gnft-gallery .attribute-select-wrapper select option  {
    color: #0a0a0a;
    font-size: 15px;
    font-family: 'poppins-regular';
}

#gnft-gallery .attribute-select-wrapper input[type='number'], #gnft-gallery .attribute-select-wrapper input[type='text'] {
    border-bottom: 1px solid #f2f2f2 !important;
    border-radius: 0;
    border: 0;
    color: #0a0a0a;
    font-size: 15px;
    font-family: 'poppins-regular';
    outline: 0;
    text-indent: 5px; 
}


#gnft-gallery .reset-gallery-filters {
    align-items: center;
    background-color: #9456ff;
    border-radius: 10px;
    border: 0;
    color: #ffffff;
    font-family: 'rajdhani-bold';
    font-size: 15px;
    justify-content: center;
    margin-top: 10px;
    outline: 0;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

/**  Gallery Page Ends Here **/

/** Get Whitelisted Starts Here **/

#gnft-get-whitelisted {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px 60px 15px;
}

#gnft-get-whitelisted #google-frame {
    display: none;
}

#gnft-get-whitelisted h1 {
    color: #0a0a0a;
    font-family: 'rajdhani-bold';
    font-size: 42px;
    line-height: 1.4;
    text-transform: uppercase;
}

#gnft-get-whitelisted p {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

#gnft-get-whitelisted form{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

#gnft-get-whitelisted form div.form-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    max-width: 600px;
    text-align: left;
    width: 100%;
}

#gnft-get-whitelisted button {
    margin-top: 25px;
    transition: all .3s ease;;
}

#gnft-get-whitelisted button:disabled {
    background-color: #d3d3d3 !important;
}

#gnft-get-whitelisted button:disabled:hover {
    opacity: 1 !important;
    cursor: not-allowed !important;
}

#gnft-get-whitelisted p.success-msg {
    color: green;
    display: none;
    margin-top: 10px;
    text-align: center;
}

#gnft-get-whitelisted button[type="submit"] {
    align-items: center;
    align-self: center;
    background-color: #9456ff;
    border-radius: 10px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-family: 'rajdhani-bold';
    font-size: 18px;
    max-width: 180px;
    padding: 8px 60px;
    text-decoration: none;
    text-transform: uppercase;
}

#gnft-get-whitelisted button:hover {
    opacity: .6;
}

#gnft-get-whitelisted label {
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

#gnft-get-whitelisted input[type="text"] {
    background-color: #f2f2f2;
    border: 0;
    color: #0a0a0a;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
    padding: 5px 15px;
}

/** Get Whitelisted Ends Here **/

/** Newsletter Starts Here **/

#gnft-newsletter {
    padding: 0 15px 60px 15px;
}

#gnft-newsletter .container {
    background: rgb(252,94,102);
    background: linear-gradient(90deg, rgba(252,94,102,1) 0%, rgba(239,99,132,1) 44%, rgba(226,106,171,1) 100%);
    padding: 50px 15px 50px 15px;
    border-radius: 15px;

}

#gnft-newsletter #google-frame {
    display: none;
}

#gnft-newsletter h3 {
    color: #fff;
    font-family: 'rajdhani-bold';
    font-size: 32px;
    line-height: 1.4;
    text-transform: uppercase;
}

#gnft-newsletter p  {
    color: #fff;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
}

#gnft-newsletter #google-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gnft-newsletter .form-wrapper {
    text-align: center;
    max-width: 768px; 
    width: 100%;
    margin-top: 20px;
}

#gnft-newsletter .form-wrapper input[type='text'] {
    width: 75%;
    padding: 6px 10px;
    font-family: 'poppins-regular';
    font-size: 16px;
    line-height: 1.8;
    outline: 0;
}

#gnft-newsletter .form-wrapper button[type='submit'] {
    align-items: center;
    align-self: center;
    background-color: #fff;
    border: 0;
    color: #0a0a0a;
    cursor: pointer;
    font-family: 'rajdhani-bold';
    font-size: 18px;
    height: 100%;
    margin-left: 2%;
    max-width: 180px;
    outline: 0;
    padding: 12px 60px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    width:  23%;
}

#gnft-newsletter .form-wrapper button[type='submit']:hover  {
    background-color: #9456ff;
    color: #fff;
}

#gnft-newsletter .form-wrapper button[type='submit']:disabled {
    background-color: #d3d3d3 !important;
    color: #fff !important;
}

#gnft-newsletter .form-wrapper button[type='submit']:disabled::hover {
    background-color: #d3d3d3 !important;
    color: #fff !important;
}

#gnft-newsletter p.success-msg {
    margin-top: 10px;
    display: none;
}

/** Newsletter Ends Here **/

/** Faqs Page Starts Here **/

#gnft-faqs p {
    color: #7a7a7a;
    font-size: 15px;
    text-align: justify;
}

#gnft-faqs .question-answer-wrapper {
    padding: 20px;
    border: 1px solid #f2f2f2;
    height: 100%;
}

/** Faqs Page Ends Here **/

/** Ambassador Page Starts Here **/

.form-for-ambassador {
    display: flex;
    flex-direction: column;
}

/** Ambassador Page Ends Here **/

@media only screen and (max-width: 1400px)  {
    #gnft-gallery {
        padding: 40px 15px 150px 15px;
    }
}

@media only screen and (max-width: 1024px) {
    header#site-header .menu-wrapper ul li{
        margin-right:15px;
    }

    header#site-header .discord-button, #gnft-provenance-section .provenance-button {
        padding: 8px 40px;
    }

    #gnft-gallery {
        padding: 40px 15px 150px 15px;
    }

    header#site-header ul.social-icons img {
        width: 30px;
    }

    header#site-header .menu-wrapper {
        margin-top: 15px;
    }

    #gnft-banner h1 {
        font-size: 32px;
    }

    #gnft-not-found #wrap-not-found h1 {
        font-size: 120px;
    }

    #gnft-not-found #wrap-not-found h2 {
        color: #0a0a0a;
        font-size: 20px;
        line-height: 1.8;
    }

    #gnft-roadmap h2, #gnft-provenance-section h2 {
        font-size: 48px;
    }

    #gnft-roadmap h3, #gnft-provenance h1, #gnft-get-whitelisted h1 {
        font-size: 32px;
    }

    #gnft-provenance .section-2{
        overflow-x: scroll;
    }

    .claim-code-input, .uri-input, .check-ambassador-dropdown, .contract-address-input, .wallet-address-input {
        width: 280px;
    }

}

@media only screen and (max-width: 767px) {
    .global-padding {
        padding: 60px 0; 
    }

    .global-top-padding {
        padding: 60px 0 0 0; 
    }

    header#site-header .menu-wrapper ul li{
        margin-right:10px;
    }

    header#site-header ul li a {
        font-size: 16px;
    }

    header#site-header .discord-button, #gnft-provenance-section .provenance-button {
        font-size: 16px;
    }

    #gnft-banner .main-content-wrapper {
        padding: 15px;
    }

    #gnft-roadmap, #gnft-team {
        padding: 60px 15px;
    }

    #gnft-roadmap h2, #gnft-provenance-section h2 {
        font-size: 36px;
    }

    .gnft-pa-section h1 {
        font-size: 32px;
        line-height: 1.3;
    }

    #gnft-roadmap h3, #gnft-provenance h1 {
        font-size: 28px;
        line-height: 1.4;
    }

    .gnft-pa-section {
        padding: 40px 15px 60px 15px;
    }

    #gnft-ambassadors {
        padding: 0 0 60px 0;
    }

    #gnft-get-whitelisted {
        padding: 40px 15px 60px 15px;
        min-height: 40vh;
    }

    #gnft-banner h1 {
        font-size: 28px;
    }

    #gnft-not-found #wrap-not-found h1 {
        font-size: 100px;
    }

    #gnft-provenance-section {
        padding: 60px 15px;
    }

    .gnft-tc-pp, #gnft-provenance {
        padding: 40px 15px 60px 15px;
    }

    #follow-us input[type="text"] {
        width: 100%;
    }

    #follow-us input[type="submit"] {
        width: 100%;
        margin-top: 10px;
    }

    .attribute-select-wrapper {
        position: static;
    }

    #gnft-newsletter .form-wrapper input[type='text'] {
        width: 100%;
    }
    
    #gnft-newsletter .form-wrapper button[type='submit'] {
        width:100%;
        margin-left: 0;
        margin-top: 10px;
    }
    

}

/** Fonts Starts Here **/

@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/poppins-regular/Poppins-Regular.eot');
    src: url('../fonts/poppins-regular/Poppins-Regular.?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular/Poppins-Regular.woff2') format('woff2'),
         url('../fonts/poppins-regular/Poppins-Regular.woff') format('woff'),
         url('../fonts/poppins-regular/Poppins-Regular.ttf') format('truetype'),
         url('../fonts/poppins-regular/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rajdhani-bold';
    src: url('../fonts/rajdhani-bold/Rajdhani-Bold.eot');
    src: url('../fonts/rajdhani-bold/Rajdhani-Bold.?#iefix') format('embedded-opentype'),
         url('../fonts/rajdhani-bold/Rajdhani-Bold.woff2') format('woff2'),
         url('../fonts/rajdhani-bold/Rajdhani-Bold.woff') format('woff'),
         url('../fonts/rajdhani-bold/Rajdhani-Bold.ttf') format('truetype'),
         url('../fonts/rajdhani-bold/Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya-sans-sc-black';
    src: url('../fonts/alegreya-sans-sc-black/AlegreyaSansSC-Black.eot');
    src: url('../fonts/alegreya-sans-sc-black/AlegreyaSansSC-Black.?#iefix') format('embedded-opentype'),
         url('../fonts/alegreya-sans-sc-black/AlegreyaSansSC-Black.woff2') format('woff2'),
         url('../fonts/alegreya-sans-sc-black/AlegreyaSansSC-Black.woff') format('woff'),
         url('../fonts/alegreya-sans-sc-black/AlegreyaSansSC-Black.ttf') format('truetype'),
         url('../fonts/alegreya-sans-sc-blackAlegreyaSansSC-Black.svg#AlegreyaSansSC-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}



/** Fonts Ends Here **/

/** root css starts here **/

div#root p a {
    transition: all .3s ease;
}

div#root p a:hover {
    text-decoration: none;
}

/** root css ends here **/